{% extends 'base.html' %}
{% block main %}
    <h1>Your patients <b>Doctor..</b><a href ="{% url 'createpatient' %}" class="btn btn-danger float-right">ADD PATINT</a></p>
        <br></h1>
        {% for i in p %}
        <div class="container ">
        
        <a href="{% url 'detail' i.id %}" ><h1><b>{{i.name}}</b></h1></a>
        <h2>ID:{{i.id}}</h2>
        </div>
       
        {% endfor %}
        <style>
            .container{
                background-color: whitesmoke;
                opacity:90%;
                padding-left: 50px;
                
            }
        </style>     
        
{% endblock main %}