{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="jumbotron">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Good to have you back <b>Champ....</b></h1>
            <h4>Username:</h4>
            <input type="text" name='username' placeholder="Enter the username"><br>
            <h4>Password</h4>
            <input type="password" name="password" placeholder="Enter password"><br>
            <p></p>
            <input type="submit" value="login" class="btn btn-primary">
        </form>
        </div>
</div>
{% endblock main %}